
<html>
    <head>
        <title>help</title>
    </head>

    <style>
      h1{color: #7a0606;
         font-family: helvetica;
         font-weight:normal;
         font-size: 350%}
      h2, h3 {color: #822424;
              font-family: helvetica;
              font-weight:normal;
              display: inline;}
     desc. {color: #7a0606;
         font-family: helvetica;
         font-weight:normal;
         font-size: 350%}
    </style>

    <body style="font-family:'helvetica';
                 margin-top: 1%;
                 margin-bottom: 1%;
                 margin-right: 4%;
                 margin-left: 2%;"
          link="#3366BB"
          vlink="#663366">

      <!-- navigation header -->
      <div align='right'>
        <font size='2' color='grey'>
          [ help ]&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;
          <a href='./HOME.html'>browse alignments</a>
        </font>
      </div>

      <!-- title -->
      <h1>autoRfam
          <font size='5' color='grey'>
              <i>help</i>
          </font>
      </h1>
      <br>

      <!-- section style -->
      <div style='margin-left:2%'>

      <!-- section -->
        <h2>What is autoRfam?</h2>
        <hr />
          It's a collection of automatically built <b>alignments</b> from RNAcentral sequences, which could pontentially be used to build new Rfam families.
        <br>
        <br>
        <br>

      <!-- section -->
        <h2>Fields in the <i>browse alignments</i> table</h2>
        <hr />
          <!-- subsection -->
          <b>Alignment</b>
            <div style="margin-left:.2%; font-size: 95%; display:inline;">
              name of stockholm alignment file
            </div>
            <div style="margin-left:2%; color:grey; font-size: 90%; font-weight:lighter;">
              The alignment inherits the name of the RNAcentral sequence to which the rest of the sequences were aligned.<br>It corresponds to the first sequence of the alignment, and it's given automatically by <font style="color:#8e5252; font-family: monospace; font-size: 130%">nhmmer</font>.
            <p>
            </div>
          <!-- subsection -->
          <b>Selected description</b>
            <div style="margin-left:.2%; font-size: 95%; display:inline;">
              name of the first sequence of the alignment
            </div>
            <div style="margin-left:2%; color:grey; font-size: 90%; font-weight:lighter;">
              This description comes from RNAcentral, and it is taken out of the FASTA file.
            <p>
            </div>
          <!-- subsection -->
          <b>Number of sequences</b>
            <div style="margin-left:.2%; font-size: 95%; display:inline;">
              in the alignment
            <p>
            </div>
          <!-- subsection -->
          <b>Alignment length</b>
            <div style="margin-left:.2%; font-size: 95%; display:inline;">
              which considers sequence and gaps
            <p>
            </div>
          <!-- subsection -->
          <b>Avg. sequence length</b>
            <div style="margin-left:.2%; font-size: 95%; display:inline;">
              the average length of the sequences with no gaps
            <p>
            </div>
          <!-- subsection -->
          <b>Lengths ratio</b>
            <div style="margin-left:.2%; font-size: 95%; display:inline;">
              Avg. sequence length / Alignment length
           </div>
            <div style="margin-left:2%; color:grey; font-size: 90%; font-weight:lighter;">
              A way of representing how gapped an alignment is.
            <p>
            </div>
          <!-- subsection -->
          <b>Number of publications</b>
            <div style="margin-left:.2%; font-size: 95%; display:inline;">
              distinct number of publications related to the sequences in the alignment
            </div>
            <div style="margin-left:2%; color:grey; font-size: 90%; font-weight:lighter;">
              Extracted from RNAcentral for each sequence, only those with <font style="color:#8e5252; font-family: monospace; font-size: 130%">pubmed_id</font> are included.
            <p>
            </div>
          <!-- subsection -->
          <b>Number of databases</b>
            <div style="margin-left:.2%; font-size: 95%; display:inline;">
              distinct number of databases referencing the sequences in RNAcentral<p>
            </div>
          <!-- subsection -->
          <b>RNAcode warning</b>
            <div style="margin-left:.2%; font-size: 95%; display:inline;">
              indicates if significant coding regions were found for the alignment
            </div>
            <div style="margin-left:2%; color:grey; font-size: 90%; font-weight:lighter;">
              Using the RNAcode software
            <p>
            </div>
          <!-- subsection -->
          <b>R-scape output</b>
            <div style="margin-left:.2%; font-size: 95%; display:inline;">
              indicates if statistically significant basepairs were found for the alignment
            </div>
            <div style="margin-left:2%; color:grey; font-size: 90%; font-weight:lighter;">
              Using the R-scape software
            </div>
          <br>
          <br>
          <br>

      <!-- section -->
        <h2>Alignment page sections</h2>
        <hr />

          <!-- subsection -->
          <b>Alignment statistics</b>
            <div style="margin-left:.2%; font-size: 95%; display:inline;">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </div>
            <div style="margin-left:2%; color:grey; font-size: 90%; font-weight:lighter;">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            <p>
            </div>
          <!-- subsection -->
          <b>Publications</b>
          <div style="margin-left:.2%; font-size: 95%; display:inline;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          <p>
          </div>
          <!-- subsection -->
          <b>Alignment length</b>
          <div style="margin-left:.2%; font-size: 95%; display:inline;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          <p>
          </div>
          <!-- subsection -->
          <b>Database annotations</b>
          <div style="margin-left:.2%; font-size: 95%; display:inline;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          <p>
          </div>
          <!-- subsection -->
          <b>RNA type annotations</b>
          <div style="margin-left:.2%; font-size: 95%; display:inline;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </div>
          <div style="margin-left:2%; color:grey; font-size: 90%; font-weight:lighter;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          <p>
          </div>
          <!-- subsection -->
          <b>RNAcode</b>
          <div style="margin-left:.2%; font-size: 95%; display:inline;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </div>
          <div style="margin-left:2%; color:grey; font-size: 90%; font-weight:lighter;">
            Lorem ipsum dolor sit amet, <font style="color:#8e5252; font-family: monospace; font-size: 130%">consectetur</font> adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          <p>
          </div>
          <!-- subsection -->
          <b>R-scape</b>
          <div style="margin-left:.2%; font-size: 95%; display:inline;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<p>
          </div>
          <!-- subsection -->
          <b>Full information</b>
          <div style="margin-left:.2%; font-size: 95%; display:inline;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </div>

            <!-- subsubsection style -->
            <div style="margin-left:2%; font-size: 90%;"">

              <!-- sub-sub-section -->
              <b>urs_link</b>
              <div style="margin-left:.2%; font-size: 95%; display:inline; font-weight:lighter;">
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </div>
              <div style="margin-left:2%; color:grey; font-size: 90%; font-weight:lighter;">
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              </div>
              <!-- subsubsection -->
              <b>description</b>
              <div style="margin-left:.2%; font-size: 95%; display:inline; font-weight:lighter;">
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </div>
              <div style="margin-left:2%; color:grey; font-size: 90%; font-weight:lighter;">
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              </div>
              <!-- subsubsection -->
              <b>db_link</b>
                <div style="margin-left:.2%; font-size: 95%; display:inline; font-weight:lighter;">
                  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
                <div style="margin-left:2%; color:grey; font-size: 90%; font-weight:lighter;">
                 Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </div>
              <!-- subsubsection -->
              <b>rna_type</b>
              <div style="margin-left:.2%; font-size: 95%; display:inline; font-weight:lighter;">
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </div>
              <div style="margin-left:2%; color:grey; font-size: 90%; font-weight:lighter;">
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              </div>
              <!-- subsubsection -->
              <b>product</b>
              <div style="margin-left:.2%; font-size: 95%; display:inline; font-weight:lighter;">
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </div>
              <div style="margin-left:2%; color:grey; font-size: 90%; font-weight:lighter;">
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              </div>
              <!-- subsubsection -->
              <b>tax_id</b>
              <div style="margin-left:.2%; font-size: 95%; display:inline; font-weight:lighter;">
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </div>
              <div style="margin-left:2%; color:grey; font-size: 90%; font-weight:lighter;">
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              </div>
              <!-- subsubsection -->
              <b>species</b>
              <div style="margin-left:.2%; font-size: 95%; display:inline; font-weight:lighter;">
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </div>
              <div style="margin-left:2%; color:grey; font-size: 90%; font-weight:lighter;">
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              </div>

            <!-- sub-sub-section style -->
            </div>

        <br>
        <br>
        <br>

        <!-- section -->
        <h2>How were the alignments made?</h2>
        <hr />
          We selected all the sequences from RNAcentral that couldn't be matched to any existing Rfam family. Then, with <font style="color:#8e5252; font-family: monospace; font-size: 120%">nhmmer</font> we produced an alignment per sequence including only significant hits.<br>To have a non-redundant set of alignments, we clustered the ones that shared sequences and selected only one alignment per cluster. The criteria was to take the 3 alignments with more sequences in them, and then take the one with the largest "Lengths ratio".
        <br>
        <br>
        <br>

      <!-- section -->
        <h2>What's with the <font style="color:#8e5252; font-family: monospace; font-size: 120%">.cl</font> extension?</h2>
        <hr />
          The <font style="color:#8e5252; font-family: monospace; font-size: 120%">.cl</font> extension is added into an alignment if it was processed by a <i>cleaning up</i> script. When <font style="color:#8e5252; font-family: monospace; font-size: 120%">nhmmer</font> aligns the sequences, it might include several subsections of the same <font style="color:#8e5252; font-family: monospace; font-size: 120%">URS</font> in a single alignment. The cleaning up script atempts to remove these repeated sequences.The name is edited to (1) indicate that it differs from the original output alignment and (2) because, in some cases, it might be an indication of strange behaviour such as repeats.
        <br>
        <br>
        <br>

      <!-- section style -->
      </div>

    </body>

</html>
